.top-bar {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(0, 0, 0, .8);
}

.logo {
  text-align: center;
  font-size: 40px !important;
  line-height: 60px !important;
  font-family: 'Pacifico' !important;
  letter-spacing: -2px;
  background-color: #009688;
  width: 300px !important;
}
