{
  "presets": [
    ["env", { "modules": false }],
    "react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "react-css-modules", {
        "context": "app/frontend",
        "generateScopedName": "[local]--[hash:base64:5]",
      },
    ],
    "transform-object-rest-spread",
  ],
}
