<!DOCTYPE html>
<html>
  <head>
    <title>RouteMe</title>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing&key=#{ENV["GOOGLE_API_KEY"]}" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
